html, body {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("../img/pic2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 2rem;
    color: white;
}