<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

You are at about
<br><br>
<a href="/">Index</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>

</body>
</html>